<h2 class="create-title">
  Create a movie
</h2>
<div>
<form class="input-container" action="/movies/create-movie" method="post">
  <label>Movie Title:
    <input type="text" name="title" />
  </label>
  <label>Genre:
    <input type="text" name="genre" />
  </label>
  <label>Plot:
    <input type="text" name="plot" />
  </label>
    <label>Cast:
    <input type="text" name="cast" />
  </label>
  </div>
  <div >  
    <button class="submit-btn" type="submit">Submit</button>
  </div>

</form>